<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="miniarm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import miniarm urdf file -->
    <xacro:include filename="$(find miniarm)/urdf/miniarm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find miniarm)/config/miniarm.ros2_control.xacro" />

    <xacro:include filename="$(find miniarm)/config/gazebo_plugins.xacro" />
    

    <xacro:miniarm_ros2_control name="miniarm" initial_positions_file="$(find miniarm)/config/$(arg initial_positions_file)"/>

</robot>
