<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="simple_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="yaw_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['yaw_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="p1_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['p1_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="p2_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['p2_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="roll_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['roll_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="minip_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['minip_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="minir_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['minir_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
