<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_arm">
    <!-- Used for fixing robot to Gazebo 'base_link' 将机械臂的基座固定在世界坐标系上 -->
    <link name="world"/>
    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
    <!-- <joint name="fixed" type="fixed">
        <parent link="base_link"/>
        <child link="yaw_Link"/>
    </joint> -->

    <!-- import simple_arm urdf file -->
    <xacro:include filename="$(find simple_arm)/urdf/simple_arm1.urdf"/>

    <!-- 对一些link进行gazebo属性设置 -->
    <gazebo reference="yaw_link">
        <material>Gazebo/White</material>
        <self_collide>false</self_collide>
        <gravity>false</gravity>
    </gazebo>

    <gazebo reference="p1_link">
        <material>Gazebo/White</material>
        <gravity>false</gravity>
    </gazebo>

    <gazebo reference="p2_link">
        <material>Gazebo/White</material>
        <gravity>false</gravity>
    </gazebo>

    <gazebo reference="roll_link">
        <material>Gazebo/White</material>
        <gravity>false</gravity>
    </gazebo>

    <gazebo reference="minip_link">
        <material>Gazebo/White</material>
        <gravity>false</gravity>
    </gazebo>

    <gazebo reference="minir_link">
        <material>Gazebo/White</material>
        <gravity>false</gravity>
    </gazebo>

    <!-- 无法设置静态？试试 -->
    <gazebo>
        <static>true</static>
        <self_collide>true</self_collide>
    </gazebo>

    <!-- 声明ros2_control -->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="yaw_link">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="p1_link">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="p2_link">
            <command_interface name="position"/>
            
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="roll_link">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="minip_link">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="minir_link">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <!-- 加载 ros2_control插件 -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find moveit_arm)/config/ros2_controllers.yaml</parameters>
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
        </plugin>
    </gazebo>

</robot>